* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f7f7f7;
    padding-bottom: 60px;
}

header {
    background: SkyBlue;
    padding: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
    text-align: center;
}

header nav ul li {
    flex-basis: auto;
    flex-grow: 1;
    display: inline-block;
    margin: 0px 20px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: darkslategrey;
}

main {
    padding: 30px 50px 0 50px;
}

main h1 {
    text-align: center;
    margin-bottom: 40px;
}

main .left {
    float: left;
    width: 28%;
    box-sizing: border-box;
    padding-right: 30px;
}

main .left img {
    max-width: 100%;
    border-radius: 15%;
}

main .right {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 72%;
    min-width: 50px;
    box-sizing: border-box;
}

main:after {
    display: block;
    content: '';
    clear: both;
}

main .text {
    padding: 15px;
    border-radius: 10px;
    width: 800px;
    background-color: #e7e6e6;
}

main .text p {
    text-indent: 10px;
    margin-bottom: 10px;
}

main .text ul {
    display: flex;
    list-style: none;
    padding-top: 30px;
    text-align: center;
}

main .text ul li {
    flex-basis: auto;
    flex-grow: 1;
    display: inline-block;
    margin-right: 10px;
}

main .text a {
    color: #50b2cf;
    text-decoration: none;
}

main .text a:hover {
    color: darkslategrey;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: SkyBlue;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
}

footer a {
    color: darkslategrey;
}
/* CSS К калькулятору */

.form-row {
    margin-bottom: 10px;
    font-size: 16px;
}
.form-row label {
    display: inline-block;
    width: 90px;
}
.form-row input {
    padding: 4px 5px;
    font-size: 16px;
}
.form-row button {
    font-size: 30px;
    line-height: 25px;
    /* padding: 15px 25px; */
    width: 60px;
    height: 50px;
    margin-right: 17px;
}
#status {
    margin-bottom: 10px;
}